/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1360px) {
  html {
    font-size: .8rem;
  }
  .header-top-line {
    background-size: 17% auto;
    .h1 {
      margin-top: 100px;
    }
  }
  .logo {
    &-text {
      /* font-size: 1.3rem;*/
    }
    &-wrapper {
      width: 100px;
    }

  }
  .navigation {
    &-link {
      font-size: 1.3rem;
    }
  }
  .about {
    &-text {
      font-size: 1.3rem;
    }
  }
  .our_qualities {
    &-link {
      font-size: 1.3rem;
    }
  }

}

@media only screen and (max-width: 1200px) {
  .header-top-line {
    background: url(../img/header-bg2.png) 96% center no-repeat;
    background-size: 17% auto;
  }
  /*___collect-tours____*/
  .callback-form{
    button{
      font-size: 20px;
    }
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navigation{
    &-link{
      font-size: .9rem;
    }
  }
  /*______cart_______*/
  .cart{
    &-amount{
      display: block;
    }
    &-text{
      float: none;
      text-align: center;
      margin-bottom: 5px;
      width: 100%;
      max-width: 100%;
    }
    &-composition{
      display: table;
      margin: 0 auto;
    }
  }
  .selected {
    &-tours{
      padding: 20px;
      height: 200px;
      overflow: auto;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      display: flex;
    }
    .circle{
      flex-basis: 90px;
    }

  }
  .circle:nth-child(5n - 1) {
    margin-left: 17px;
  }

  .circle {
    margin-top: 15px;
  }
  .item-tour{
    .wrapper-img{
      float: none;
      margin: 0 auto 15px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .logo {
    &-wrapper {
      width: 80px;
      height: auto;
    }
  }
  .header-top-line {
    .h1 {
      width: 400px;
      margin-top: 60px;
      white-space: normal;
    }
  }
  .collapse{
    display: flex;
    &-text{
      font-size: 2rem;
    }
  }
  .nested-arrow{
    &:after{
      content: '';
      position: absolute;
      top: 50%;
      right: 30px;
      width: 5px;
      height: 5px;
      transform: translateY(-50%);
      border: 5px solid transparent;
      border-left: 5px solid #000000;
      transition: .1s linear;
    }

  }
  .nested-arrow:hover::after{
      border: 5px solid transparent;
      border-top: 5px solid #000000;

  }
  .navigation{
    &-list{
      display: none;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 99%;
      left: 0;
      z-index: 5;
      border-top: 1px solid #215069;
      background-color: $darkBlue;
    }
    &-item{
      width: 100%;
    }
    &-link{
      font-size: 1.5rem;
    }
  }

  .hamburger{
    &-inner{
      background-color: $lightWhite;
      &:after, &:before{
        background-color: $lightWhite;
      }
    }
  }
  .drop{
    &-menu{
      width: 100%;
      background-color: $darkBlue;
      border-top: 1px solid #215069;
    }
    &-link{
      color: $lightWhite;
      font-size: 1.5rem;
    }
  }
  .about{
    &-text{
      padding-top: 30px;
      text-align: justify;
    }
  }
  .our_qualities{
    &-wrapper{
      width: 40px;
      height: 40px;
    }
    &-link{
      padding-bottom: 50px;
    }
  }
  /*___collect-tours____*/
  .tour{
    &-button{
      display: block;
      width: 80%;
      margin: -32px auto 25px;
    }
    &-img-button{
      max-width: 100%;
      width: 100%;
    }
  }
  /*______cart_______*/
  .cart{
    &-decrement,&-increment{
      height: 40px;
      width: 40px;
    }
  }
  .total {
    &-sum {
      margin-right: 1px;
      float: none;
    }
    .currency-wrapper{
      float: none;
      margin-right: 1px;
    }
    .currency{
      margin-right: 3px;
    }
  }
  .selected {
    margin-top: 30px;
    &-tours{
      justify-content: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .logo {
    &-link {
      float: none;
      text-align: center;
      display: block;
    }
  }
  .header-top-line {
    .h1 {
      width: 100%;
      text-align: center;
      margin-top: 15px;
      padding: 10px;
    }
  }
  /*___collect-tours____*/
  .tour{
    &-button{
      display: block;
      width: 80%;
      margin: -24px auto 25px;
    }
    &-img-button{
      max-width: 100%;
      width: 100%;
    }
  }
  .cart{
    &-decrement,&-increment{
      height: 52px;
      width: 52px;
    }
  }
  /*______cart_______*/
  .selected{
    height: 350px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .logo {
    &-link {
      float: none;
      text-align: center;
      display: block;
    }
  }
  .header-top-line {
    .h1 {
      width: 100%;
      margin-top: 15px;
      white-space: normal;
      padding: 10px;
    }
  }
  /*___collect-tours____*/
  .tour{
    &-wrapper-img{
      width: 150px;
      height: 150px;
    }
    &-button{
      display: block;
      width: 100%;
      margin: -18px auto 25px;
    }
    &-img-button{
      max-width: 100%;
      width: 100%;
    }
  }
  /*___collect-tours____*/
  .callback-form{
    button{
      font-size: 20px;
    }
  }
  .item-tour{
    .wrapper-img{
      width: auto;
      height: auto;
      display: block;
      .img{
        width: 100%;
      }
    }
  }
}

/**/
